.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}

.cat-info img {
  display: block;
  width: 400px;
  height: auto;
  margin-right: 20px;
}

.cat-info .text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.cat-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cat-info .text-wrapper {
  display: flex;
  flex-direction: column;
}

.cat-info .description {
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.cat-info .temperament {
  flex-wrap: wrap;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
