.hidden {
  display: none;
}

.visible {
  display: block !important;
}

.cat-info img {
  margin-top: 30px;
  width: 400px;
  height: 300px;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cat-info .text-container {
  margin-left: 20px;
}

.cat-info h2 {
  margin-bottom: 10px;
}

.cat-info .description {
  margin-bottom: 10px;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
